
@model QuyetTien.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="~/Content/Admin/login/css/style.css">


</head>

<body>

    <section class="user">
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Chưa có tài khoản? Đăng ký ngay</h2>
                    <p class="user_unregistered-text">Quản lý điện máy Quyết Tiến cho phép bạn thống kê doanh thu, doanh mục sản phẩm, quản lý nhân viên.</p>
                    <button class="user_unregistered-signup" id="signup-button">Đăng ký</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">Đã có tài khoản? Đăng nhập ngay</h2>
                    <p class="user_registered-text">Quản lý điện máy Quyết Tiến cho phép bạn thống kê doanh thu, doanh mục sản phẩm, quản lý nhân viên.</p>
                    <button class="user_registered-login" id="login-button">Đăng nhập</button>
                </div>
            </div>

            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 class="forms_title">Đăng nhập</h2>
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "forms_form" }))
                    {
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" name="txtUserName" placeholder="Email" class="forms_field-input" required autofocus />
                            </div>
                            <div class="forms_field">
                                <input type="password" name="txtPassword" placeholder="Mật khẩu" class="forms_field-input" required />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <button type="button" class="forms_buttons-forgot">Quên mật khẩu?</button>
                            <input type="submit" value="Đăng nhập" class="forms_buttons-action">
                        </div>
                    }
                        <h3>@ViewBag.thongbao</h3>
                    @*<form class="forms_form"></form>*@
                </div>
                <div class="user_forms-signup">
                    <h2 class="forms_title">Đăng ký</h2>
                    @using (Html.BeginForm("SignUp", "Login", FormMethod.Post, new { @class = "forms_form" }))
                    {
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" name="txtTenDayDu" placeholder="Tên đầy đủ" class="forms_field-input" required />
                            </div>
                            <div class="forms_field">
                                <input type="email" name="txtUserName" placeholder="Tai khoan" class="forms_field-input" required />
                            </div>
                            <div class="forms_field">
                                <input type="password" name="txtPassword" placeholder="Mật khẩu" class="forms_field-input" required />
                            </div>
                        </fieldset>
                        <div class="forms_buttons"> 
                            <input type="submit" value="Đăng ký" class="forms_buttons-action">
                        </div>
                    }
                    @*<form class="forms_form"></form>*@
                </div>
            </div>
        </div>
    </section>



    <script src="~/Content/Admin/login/js/index.js"></script>




</body>

</html>

